.font-jost{
    font-family: 'Jost', sans-serif;
}
.-z-10{
  z-index: -10;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}

@include media-breakpoint-up(xxl) {
  .mt-139{
    padding-top: 139px;
  }
}
